.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
lcov.info

# Creator has asked not to include the input in the solution code if the repo is public.
# https://www.reddit.com/r/adventofcode/wiki/faqs/copyright/inputs/
Sources/Data
